header {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 26px;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  width: auto;
  transition: all ease 1s;
}

header img {
  margin-left: 20px;
  transition: all ease 2s;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #333;
}

nav a + a {
  margin-left: 46px;
}

nav a {
  margin-left: 20px;
}

header.scroll {
  display: flex;
  background-color: #d9d9d9;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: auto;
  transition: all ease 1s;
}

header.scroll img {
  transform: scale(0.2);
  margin-left: 20px;
  transition: all ease 1s;
}

@media (max-width: 700px) {
  header {
    display: flex;
    background-color: #d9d9d9;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: auto;
    transition: all ease 1s;
  }

  header img {
    transform: scale(1);
    transition: all ease 1s;
  }

  nav a + a {
    margin-left: 20px;
  }
}
