.aboutTechs {
  margin-top: 140px;
  margin-bottom: 180px;
}

.aboutTechs h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-techs {
  margin: 60px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 315px;
  transform: scale(0.8);
  margin-left: 60px;
  transition: all ease 400ms;
}

.tech:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 315px;
  transform: scale(1);
}

.tech + .tech {
  margin-left: 60px;
}

.hiddenChevron:hover{
  background-color: #a9a9a9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress {
  height: 20px;
  padding: 5px;
  background-color: #d9d9d9;
  position: relative;
  border-radius: 8px;
}

.progress--bar {
  position: absolute;
  height: 70%;
  max-width: 230px;
  background-color: #a9a9a9;
  border-radius: 4px;
}

.progress--bar p {
  text-align: end;
  color: #fff;
  margin-right: 6px;
}

@media (max-device-width: 600px){
  .aboutTechs {
    margin-top: 140px;
    margin-bottom: 420px;
  }

  .list-techs {
    margin: 60px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px){
  .aboutTechs {
    margin-top: 140px;
    margin-bottom: 420px;
  }

  .list-techs {
    margin: 60px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
