* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  font-family: "Allerta Stencil", sans-serif;
}

.main {
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    font-family: "Allerta Stencil", sans-serif;
  }

  .main {
    margin-top: 160px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1200px){
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    font-family: "Allerta Stencil", sans-serif;
  }

  .main {
    margin-top: 140px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
}
